body{
    background-color: #fab2dd;
    margin:0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e68bc1;
    width: 100%;
}

li{
    display: inline-block;
}

li a{
    display: block;
    color:white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a:hover{
    background-color: #c6679f;
}

h1{
    color:#a14c7e;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: auto;
    margin: 10px;

}